/* Animação estilo Ticker de Telejornal */
@keyframes ticker {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: ticker 35s linear infinite;
}

/* Pausa o deslizamento ao passar o mouse ou tocar no celular para facilitar a leitura */
.ticker-wrapper:hover {
  animation-play-state: paused;
}